html {
    box-sizing: border-box;
    font-size: 100%
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E52521;
    color: rgb(30, 30, 30)
}

#map {
height: 80vh;
padding: 2rem;
margin: 2rem;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    color:antiquewhite
}